---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Omar's Portfolio" description="Omar Allouch's portfolio. ">
	<Card
	  name="Omar Allouch"
	  position="Software Engineer"
	  aboutMe={`I'm Omar Allouch, an engineering student passionate about software development and systems engineering. I have experience in building full stack web and mobile applications using technologies like React, NodeJS, and Python. I thrive in agile environments, enjoy solving complex technical challenges, and love pushing the boundaries of what's possible with code.`}
	  linkedin="https://www.linkedin.com/in/omar-allouch"
	  github="https://github.com/OmarAllouch"
	  cvLink="https://github.com/OmarAllouch/professional-card-astro/public/files/resume-cv.pdf"
	  profileImage="https://github.com/OmarAllouch/professional-card-astro/public/images/profile.jpg"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
